@model IEnumerable<ProductListingViewModel>

<html lang="en">

<body>
    <div class="site-wrapper" id="top">

        <section class="hero-area">
            <div class="handart-slick-slider hero-slider-3" data-slick-setting='{
        "autoplay": true,
        "autoplaySpeed": 8000,
        "slidesToShow": 1,
        "dots": true,
        "arrows": true,
        "prevArrow":{"buttonClass": "slick-prev","iconClass":"ion-ios-arrow-left"},
        "nextArrow":{"buttonClass": "slick-next","iconClass":"ion-ios-arrow-right"}
    }'>
                <div class="single-slider hero-content bg-image"
                     data-bg="image/bg-images/home-3/slidershow3-1-1920x960.jpg">
                    <div class="container position-relative">
                        <div class="row">
                            <div class="col-lg-12 text-center">

                                <h1>Hand Made Product</h1>

                                <p>Typi Non Habent Claritatem Insitam Est Usus Legentis In Qui Facit</p>

                                <div class="slider-btn">
                                    <a href="/Shop" class="btn btn-outlined text-white">Shop Now</a>
                                </div>

                            </div>
                        </div>

                    </div>
                    <span class="herobanner-progress"></span>
                </div>
                <div class="single-slider hero-content bg-image"
                     data-bg="image/bg-images/home-3/slidershow3-2-1920x960.jpg">
                    <div class="container position-relative">
                        <div class="row">
                            <div class="col-lg-12 text-center">

                                <h1>Sale Off Hand Made</h1>

                                <p>Typi Non Habent Claritatem Insitam Est Usus Legentis In Qui Facit</p>

                                <div class="slider-btn">
                                    <a href="/Shop" class="btn btn-outlined text-white">Shop Now</a>
                                </div>

                            </div>
                        </div>
                    </div>
                    <span class="herobanner-progress"></span>
                </div>
                <div class="single-slider hero-content bg-image"
                     data-bg="image/bg-images/home-3/slidershow3-3-1920x960.jpg">
                    <div class="container position-relative">
                        <div class="row">
                            <div class="col-lg-12 text-center">

                                <h1>Home Decor Product</h1>

                                <p>Typi Non Habent Claritatem Insitam Est Usus Legentis In Qui Facit</p>

                                <div class="slider-btn">
                                    <a href="/Shop" class="btn btn-outlined text-white">Shop Now</a>
                                </div>

                            </div>
                        </div>
                    </div>
                    <span class="herobanner-progress"></span>
                </div>
            </div>
        </section>
        <section class="promo-section mt--30 section-padding">
            <h2 class="sr-only">Promotion Imgaes</h2>
            <div class="container-fluid">
                <div class="row space-db--30">
                    <div class="col-lg-6 mb--30">
                        <a href="#" class="overflow-image">
                            <img src="image/others/banner2-1.jpg" alt="">
                        </a>
                        <div class="text-content">
                            <h1>Unique</h1>
                            <h1>Handmade Items</h1>
                            <a href="/Shop">View Collection</a>
                        </div>
                    </div>
                    <div class="col-lg-6 mb--30">
                        <a href="#" class="overflow-image">
                            <img src="image/others/banner2-2.jpg" alt="">
                        </a>
                        <div class="text-content">
                            <h1>Unique</h1>
                            <h1>Handmade Gifts</h1>
                            <a href="/Shop">View Collection</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section-margin welcome-section">
            <div class="container">
                <div class="row justify-content-center section-padding border-bottom">
                    <div class="col-lg-8">
                        <div class="welcome-content">
                            <h6 class="title-xs">Who We Are</h6>
                            <div class="section-title">
                                <h2>Welcome To Vanilla Art Shop</h2>
                                <div class="title-sep">
                                    <img src="image/icon/title-sep-icon.png" alt="">
                                </div>
                            </div>
                            <article class="welcome-description">
                                <h4 class="sr-only">Welcome Article</h4>
                                <p>
                                    Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie
                                    consequat, vel illum dolore eu feugiat
                                    nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit
                                    praesent luptatum zzril delenit augue
                                    duis
                                    dolore te feugait nulla facilisi.
                                </p>
                            </article>
                            <div class="author-block">
                                <a href="#">
                                    <span class="font-weight-mid text-black text-uppercase">Milka Nacheva</span> -
                                    CEO Vanila Hand Art
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section-padding">
            <div class="container">
                <div class="section-title">
                    <h2>Featured Products</h2>
                    <p>
                        Mirum est notare quam littera gothica, quam nunc putamus parum claram anteposuerit litterarum
                        formas.
                    </p>
                </div>
                <div class="ha-custom-tab">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="shop-tab" data-toggle="tab" href="#shop" role="tab"
                               aria-controls="shop" aria-selected="true">
                                <span class="icon"><img src="image/icon/tab-nav-icon-1.png" alt=""></span>
                                Shop
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="men-tab" data-toggle="tab" href="#men" role="tab"
                               aria-controls="men" aria-selected="true">
                                <span class="icon"><img src="image/icon/tab-nav-icon-2.png" alt=""></span>
                                Men
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="woman-tab" data-toggle="tab" href="#woman" role="tab"
                               aria-controls="woman" aria-selected="false">
                                <span class="icon"><img src="image/icon/tab-nav-icon-3.png" alt=""></span>
                                Women
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="elements-tab" data-toggle="tab" href="#elements" role="tab"
                               aria-controls="elements" aria-selected="false">
                                <span class="icon"><img src="image/icon/tab-nav-icon-4.png" alt=""></span>
                                Elements
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content space-db--30" id="myTabContent">
                        <div class="tab-pane fade show active" id="shop" role="tabpanel" aria-labelledby="shop-tab">
                            <div class="row">
                                @foreach (var product in Model)
                                {
                                    <div class="col-lg-3 col-sm-6 mb--30">
                                        <div class="product-card">
                                            <div class="image">
                                                <img src="@product.Images.FirstOrDefault().ImageUrl" alt="">
                                                <div class="hover-content">
                                                    <a asp-controller="Products" asp-action="Details" asp-route-id="@product.Id" class="hover-image">
                                                        <img src="@product.Images.Skip(1).FirstOrDefault().ImageUrl" alt="">
                                                    </a>
                                                    <div class="hover-btns">
                                                        <a href="cart.html" class="sin-btn"><i class="ion-bag"></i></a>
                                                        <a href="compare.html" class="sin-btn">
                                                            <i class="ion-android-options"></i>
                                                        </a>
                                                        <a href="javascript:" class="sin-btn" data-toggle="modal"
                                                           data-target="#quickModal"><i class="ion-android-open"></i></a>
                                                    </div>

                                                </div>
                                                <span class="product-badge">new</span>
                                                <span class="product-badge-2">-5%</span>
                                            </div>
                                            <div class="description-block">
                                                <div class="description-header">
                                                    <h5 class="description-tag"><a href="">Fashion Manufacturer</a></h5>
                                                    <div class="rating-block">
                                                        <span class="ion-android-star-outline star_on"></span>
                                                        <span class="ion-android-star-outline star_on"></span>
                                                        <span class="ion-android-star-outline star_on"></span>
                                                        <span class="ion-android-star-outline"></span>
                                                        <span class="ion-android-star-outline"></span>
                                                    </div>
                                                </div>
                                                <h3 class="post-title">
                                                    <a asp-controller="Products" asp-action="Details" asp-route-id="@product.Id">
                                                       @product.Description
                                                    </a>
                                                </h3>

                                                <p class="mb-0 price">
                                                    <del class="price-old">@product.Price Лв.</del> <span class="price-new">@product.Price Лв.</span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="bg-image section-margin section-padding section-padding-top"
                 data-bg="image/bg-images/testemonials.jpg">
            <div class="container">
                <div class="testimonial-slider handart-slick-slider arrow-type-two" data-slick-setting='{
        "autoplay": true,
        "autoplaySpeed": 8000,
        "slidesToShow": 1,
        "arrows": true,
        "prevArrow":{"buttonClass": "slick-prev","iconClass":"fa fa-chevron-left"},
        "nextArrow":{"buttonClass": "slick-next","iconClass":"fa fa-chevron-right"}
    }'>
                    <div class="single-slide">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-md-10">
                                    <div class="testimonial-content">
                                        <div class="testimonial-avatar">
                                            <img src="./image/others/Aimee Bender.jpg" alt="">
                                        </div>
                                        <div class="testimonial-content">
                                            <p>
                                                “That's the thing with handmade items.
                                                They still have the person's mark on them, and when you hold them, you feel less alone.
                                                This is why everyone who eats a Whopper leaves a little more depressed than they were when they came in. 
                                                Nobody cooked that burger.”
                                            </p>
                                            <span class="quote-image">
                                                <img src="image/icon/quotation.png" alt="">
                                            </span>
                                            <h5 class="author">Aimee Bender, The Color Master: Stories</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="single-slide">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-md-10">
                                    <div class="testimonial-content">
                                        <div class="testimonial-avatar">
                                            <img src="image/others/donald walters.png" alt="">
                                        </div>
                                        <div class="testimonial-content">
                                            <p>
                                                When you buy something made by a person,
                                                there is something special there, and you feel it.
                                                The consciousness with which a thing is made is often more important than the thing itself.
                                            </p>
                                            <span class="quote-image">
                                                <img src="image/icon/quotation.png" alt="">
                                            </span>
                                            <h5 class="author">
                                                J. Donald Walters
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="single-slide">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-md-10">
                                    <div class="testimonial-content">
                                        <div class="testimonial-avatar">
                                            <img src="image/others/francis-icon-dove.jpg" alt="">
                                        </div>
                                        <div class="testimonial-content">
                                            <p>
                                                He who works with his hands is a laborer.<br />
                                                He who works with his hands and his head is a craftsman.<br/>
                                                He who works with his hands his head and his heart is an artist.
                                            </p>
                                            <span class="quote-image">
                                                <img src="image/icon/quotation.png" alt="">
                                            </span>
                                            <h5 class="author">Saint Francis of Assisi</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section-margin">
            <h2 class="sr-only">Method section</h2>
            <div class="container">
                <div class="row  border-bottom section-padding space-dt--30">
                    <div class="col-md-4 col-sm-6 mt--30">
                        <div class="method-card">
                            <div class="icon">
                                <img src="image/icon/method-icon-1.png" alt="">
                            </div>
                            <article class="text">
                                <h3 class="method-title"><a href="#">FREE SHIPPING</a></h3>
                                <p>Order with free shipping for Bulgaria.</p>
                            </article>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 mt--30">
                        <div class="method-card">
                            <div class="icon">
                                <img src="image/icon/method-icon-2.png" alt="">
                            </div>
                            <article class="text">
                                <h3 class="method-title"><a href="#">MONEY BACK GUARANTEE</a></h3>
                                <p>If you’re not completely happy with any product in our range, then you’re welcome to return it for an exchange or refund up to 30 days after the purchase date. No questions asked.</p>
                            </article>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 mt--30">
                        <div class="method-card">
                            <div class="icon">
                                <img src="image/icon/method-icon-3.png" alt="">
                            </div>
                            <article class="text">
                                <h3 class="method-title"><a href="#">ONLINE SUPPORT</a></h3>
                                <p>Get instant answers of all your questions. </p>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section-padding">
            <div class="container">
                <div class="section-title mb--55">
                    <h2>Latest Products</h2>
                    <p>
                        Quick view of our latest arrivals.
                    </p>
                </div>
                <div class="product-slider handart-slick-slider arrow-type-two space-db--5" data-slick-setting='{
    "autoplay": true,
    "autoplaySpeed": 8000,
    "slidesToShow": 4,
    "arrows": true,
    "prevArrow":{"buttonClass": "slick-prev","iconClass":"fa fa-chevron-left"},
    "nextArrow":{"buttonClass": "slick-next","iconClass":"fa fa-chevron-right"}
    }' data-slick-responsive='[
                            {"breakpoint":991, "settings": {"slidesToShow": 3} },
                            {"breakpoint":768, "settings": {"slidesToShow": 2} },
                            {"breakpoint":480, "settings": {"slidesToShow": 1} }
                        ]'>
                    @foreach (var product in Model)
                    {
                        <div class="single-slide">
                            <div class="product-card">
                                <div class="image">
                                    <img src="@product.Images.FirstOrDefault().ImageUrl" alt="">
                                    <div class="hover-content">
                                        <a asp-controller="Products" asp-action="Details" asp-route-id="@product.Id" class="hover-image">
                                            <img src="@product.Images.Skip(1).FirstOrDefault().ImageUrl" alt="">
                                        </a>

                                        <div class="hover-btns">
                                            <a href="cart.html" class="sin-btn"><i class="ion-bag"></i></a>
                                            <a href="compare.html" class="sin-btn"><i class="ion-android-options"></i></a>
                                            <a href="javascript:" class="sin-btn" data-toggle="modal"
                                               data-target="#quickModal"><i class="ion-android-open"></i></a>
                                        </div>

                                    </div>
                                    <span class="product-badge">new</span>
                                </div>
                                <div class="description-block">
                                    <div class="description-header">
                                        <h5 class="description-tag"><a asp-controller="Products" asp-action="Details" asp-route-id="@product.Id">@product.Name</a></h5>
                                        <div class="rating-block">
                                            <span class="ion-android-star-outline star_on"></span>
                                            <span class="ion-android-star-outline star_on"></span>
                                            <span class="ion-android-star-outline star_on"></span>
                                            <span class="ion-android-star-outline"></span>
                                            <span class="ion-android-star-outline"></span>
                                        </div>
                                    </div>
                                    <h3 class="post-title">
                                        <a asp-controller="Products" asp-action="Details" asp-route-id="@product.Id">
                                            @product.Description
                                        </a>
                                    </h3>

                                    <p class="mb-0 price">
                                        <span class="price-new">@product.Price Лв.</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </section> 
    </div>
    <script src="js/plugins.min.js"></script>
    <script src="js/ajax-mail.js"></script>
    <script src="js/custom.js"></script>
</body>

</html>