@model AllProductsQueryModel

<main class="inner-page-sec-padding-top section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 order-lg-2 mb--70 mb-lg--0">
                <div class="shop-toolbar mb--30">
                    <div class="row align-items-center">
                        <div class="col-lg-2 col-sm-6">
                            <!-- Product View Mode -->
                            <div class="product-view-mode">
                                <a href="#" class="sorting-btn" data-target="list "><i class="fas fa-list"></i></a>
                                <a href="#" class="sorting-btn active" data-target="grid"><i class="fas fa-th"></i></a>
                            </div>
                        </div>
                        <div class="col-lg-5 col-sm-6 mt-sm-0 mt-3">
                            <span class="toolbar-status">
                                There are 12 products.
                            </span>
                        </div>
                        <div class="col-lg-5 mt-3 mt-lg-0  pr-md-0">
                            <div class="sorting-selection">
                                <span>Sort By:</span>
                                <select id="input-sort" class="form-control nice-select sort-select">
                                    <option value="" selected="selected">Default Sorting</option>
                                    <option value="">
                                        Sort
                                        By:Name (A - Z)
                                    </option>
                                    <option value="">
                                        Sort
                                        By:Name (Z - A)
                                    </option>
                                    <option value="">
                                        Sort
                                        By:Price (Low &gt; High)
                                    </option>
                                    <option value="">
                                        Sort
                                        By:Price (High &gt; Low)
                                    </option>
                                    <option value="">
                                        Sort
                                        By:Rating (Highest)
                                    </option>
                                    <option value="">
                                        Sort
                                        By:Rating (Lowest)
                                    </option>
                                    <option value="">
                                        Sort
                                        By:Model (A - Z)
                                    </option>
                                    <option value="">
                                        Sort
                                        By:Model (Z - A)
                                    </option>
                                </select>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="shop-product-wrap grid with-pagination row space-db--30">
                    @foreach (var product in Model.Products)
                    {
                        <div class="col-lg-4 col-sm-6 mb--30">
                            <div class="product-card">
                                <div class="image">
                                    <img src="@product.Images.FirstOrDefault().ImageUrl" alt="">
                                    <div class="hover-content">
                                        <a  asp-controller="Products" asp-action="Details" asp-route-id="@product.Id" class="hover-image">
                                            <img src="@product.Images.Skip(1).FirstOrDefault().ImageUrl" alt="">
                                        </a>

                                        <div class="hover-btns">
                                            <a href="/ShoppingCart/AddToCart?id=@product.Id&quantity=1" class="sin-btn"><i class="ion-bag"></i></a>
                                            <a href="compare.html" class="sin-btn"><i class="ion-android-options"></i></a>
                                            <a href="javascript:" class="sin-btn" data-toggle="modal" data-target="#quickModal"><i class="ion-android-open"></i></a>
                                        </div>

                                    </div>
                                    <span class="product-badge">new</span>
                                </div>
                                <div class="description-block">
                                    <div class="description-header">
                                        <h5 class="description-tag"><a asp-controller="Products" asp-action="Details" asp-route-id="@product.Id"> @product.Description</a></h5>
                                        <div class="rating-block">
                                            <span class="ion-android-star-outline star_on"></span>
                                            <span class="ion-android-star-outline star_on"></span>
                                            <span class="ion-android-star-outline star_on"></span>
                                            <span class="ion-android-star-outline"></span>
                                            <span class="ion-android-star-outline"></span>
                                        </div>
                                    </div>
                                    <h3 class="post-title"> <a  asp-controller="Products" asp-action="Details" asp-route-id="@product.Id"> @product.Name</a></h3>

                                    <p class="mb-0 price"><span class="price-new">@product.Price Лв.</span></p>
                                </div>
                                <div class="description-block list-description">
                                    <div class="description-header">
                                        <h5 class="description-tag"><a href="">@product.</a></h5>
                                        <div class="rating-block">
                                            <span class="ion-android-star-outline star_on"></span>
                                            <span class="ion-android-star-outline star_on"></span>
                                            <span class="ion-android-star-outline star_on"></span>
                                            <span class="ion-android-star-outline"></span>
                                            <span class="ion-android-star-outline"></span>
                                        </div>
                                    </div>
                                    <h3 class="post-title"> <a  asp-controller="Products" asp-action="Details" asp-route-id="@product.Id"> @product.Name</a></h3>

                                    <div class="price"><span class="price-new">@product.Price Лв.</span></div>
                                    <article class="product-article border-top">
                                        <h4 class="sr-only">Product Summery</h4>
                                        <p>@product.Description</p>
                                    </article>
                                </div>

                            </div>
                        </div>
                    }
                </div>
                <div class="row pt--30">
                    <div class="col-md-12">
                        <div class="pagination-block">
                            <div class="pagination-status">
                                <p>Showing 1-12 of 12 item(s)</p>
                            </div>
                            <div class="pagination-btns">
                                <a href="" class="single-btn prev-btn "><i class="zmdi zmdi-chevron-left"></i> Previous</a>
                                <a href="" class="single-btn">1</a>
                                <a href="" class="single-btn">2</a>
                                <a href="" class="single-btn">3</a>
                                <a href="" class="single-btn">4</a>
                                <a href="" class="single-btn next-btn">Next <i class="zmdi zmdi-chevron-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <aside class="col-lg-3">
                <div class="inner-page-sidebar">
                    <!-- Accordion -->
                    <div class="single-block">
                        <h3 class="sidebar-title">Shop</h3>
                        <div class="accordion sidebar-accordion" id="accordionExample">
                            <div class="card">
                                <div class="card-header" id="headingOne">
                                    <h2 class="mb-0">
                                        <a href="#">Wtaches</a>
                                    </h2>                                   
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Price -->
                    <div class="single-block">
                        <h3 class="sidebar-title">Price</h3>
                        <ul class="sidebar-list-1">
                            <li class="single-price">
                                <input type="radio" name="common-field" id="check-1">
                                <label for="check-1">
                                    <i class="zmdi zmdi-check"></i>
                                    <a href="javascript:">€96.00 - €104.00 (2)</a>
                                </label>
                            </li>
                            <li class="single-price">
                                <input type="radio" name="common-field" id="check-2">
                                <label for="check-2">
                                    <i class="zmdi zmdi-check"></i>
                                    <a href="javascript:">€86.00 - €504.00 (2)</a>
                                </label>
                            </li>
                            <li class="single-price">
                                <input type="radio" name="common-field" id="check-3">
                                <label for="check-3">
                                    <i class="zmdi zmdi-check"></i>
                                    <a href="javascript:">€56.00 - €304.00 (2)</a>
                                </label>
                            </li>
                            <li class="single-price">
                                <input type="radio" name="common-field" id="check-4">
                                <label for="check-4">
                                    <i class="zmdi zmdi-check"></i>
                                    <a href="javascript:">€26.00 - €204.00 (2)</a>
                                </label>
                            </li>
                            <li class="single-price">
                                <input type="radio" name="common-field" id="check-5">
                                <label for="check-5">
                                    <i class="zmdi zmdi-check"></i>
                                    <a href="javascript:">€66.00 - €704.00 (2)</a>
                                </label>
                            </li>
                        </ul>
                    </div>
                </div>


            </aside>
        </div>
    </div>
</main>