@model ICollection<Message>

<section class="bg-image" data-bg="/image/bg-images/bg-header.jpg">
    <h2 class="sr-only">Site Breadcrumb</h2>
    <div class="container">
        <div class="breadcrumb-contents">
            <nav aria-label="breadcrumb">
                <h2 class="page-name">Listing all User`s messages</h2>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item">All</li>
                </ol>
            </nav>
        </div>
    </div>
</section>

<table class="table table-hover table-dark">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">UserName</th>
            <th scope="col">User Email</th>
            <th scope="col">Subject</th>
            <th scope="col">Message</th>
        </tr>
    </thead>
    <tbody>
        @{
            var n = 1;
            @foreach (var message in Model)
            {
                <tr>
                    <th scope="row">@n</th>
                    <td>@message.UserName</td>
                    <td>@message.UserEmail</td>
                    <td>@message.Subject</td>
                    <td>@message.MessageText</td>
                </tr>
                n++;
            }
        }
    </tbody>
</table>

