@model AllProductsQueryModel


<div class="container bg-secondary pt--50">
    <form method="get" style="margin-top: 150px;">
        <div class="row">
            <div class="form-group text-white col-lg-3">
                <label asp-for="SearchTerm">Search</label>
                <input asp-for="SearchTerm" class="form-control" placeholder="Enter your search word here.">
            </div>
            <div class="form-group text-white col-lg-3">
                <label asp-for="Category">Category</label>
                <select asp-for="Category" class="form-control">
                    <option value="">All</option>
                    @foreach (var category in Model.Categories)
                    {
                        <option value="@category">@category</option>
                    }
                </select>
            </div>
            <div class="form-group text-white col-lg-3">
                <label asp-for="Sorting">Sort By</label>
                <select asp-for="Sorting" class="form-control">
                    <option value="0" selected>Date Created</option>
                    <option value="1">Price Low to High</option>
                    <option value="2">Price High to Low</option>
                </select>
            </div>
            <div class="form-group text-white col-lg-3">
                <input type="submit" class="btn btn-primary" value="Search">
            </div>
        </div>
    </form>

    @{
        var previousPage = Model.CurrentPage - 1;
        if (previousPage < 1)
        {
            previousPage = 1;
        }

        var maxPage = Math.Ceiling((double)Model.TotalProducts / AllProductsQueryModel.ProductsPerPage);
    }

    <div class="row">
        <div class="col-lg-3">
            <a class="btn btn-primary float-left @(Model.CurrentPage == 1 ? "disabled" : string.Empty)"
               asp-controller="Products"
               asp-action="All"
               asp-route-category="@Model.Category"
               asp-route-searchTerm="@Model.SearchTerm"
               asp-route-sorting="@((int)Model.Sorting)"
               asp-route-currentPage="@previousPage"><</a>
        </div>
        <div class="col-lg-3">
            <a class="btn btn--primary float-right @(Model.CurrentPage == maxPage ? "disabled" : string.Empty )"
               asp-controller="Products"
               asp-action="All"
               asp-route-category="@Model.Category"
               asp-route-searchTerm="@Model.SearchTerm"
               asp-route-sorting="@((int)Model.Sorting)"
               asp-route-currentPage="@(Model.CurrentPage + 1)">></a>
        </div>
    </div>

    <div class="row">
        @foreach (var product in Model.Products)
        {
            <div class="col-lg-3">
                <div class="card mb--10">
                    <img class="card-img-top mh-50" src="@product.ImageUrl">
                    <div class="card-body">
                        <h5 class="card-title text-center">@product.Name</h5>
                        <p class="card-text text-center">Price: @product.Price Category: @product.Category In Stock Quantity: @product.InStockQuantity</p>
                        <a class="btn btn-primary text-center" asp-controller="Products" asp-action="Details" asp-route-id="@product.Id">Details</a>
                    </div>
                </div>
            </div>
        }
    </div>

</div>

